html {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: GOTHIC;
    src: url("../fonts/GOTHIC.TTF") ;
}

@font-face {
    font-family: GOTHICB;
    src: url("../fonts/GOTHICB.TTF") ;
}

@font-face {
    font-family: GILC____;
    src: url("../fonts/GILC____.TTF") ;
}

body {
    width: 100%;
    height: 100%;
    background-image:url("../img/background_all.png");
}

.navbar{
    margin-top: 0%;
    margin-bottom: 3%;
    padding-bottom: 5%;
    background-image:url("../img/background_all.png");
    border: none;
}

@grid-float-breakpoint

#JORGENSTUDIOS{
    height: 10%;
    padding-top:1%;
}


.navbar-header{
    position: absolute;
    left: 50px;
}

.navbar-collapse{
    position: absolute;
    right: 80px;
}

.navbar-collapse ul li a{
    font-family: GOTHIC;
    color: #2B394A !important;
    font-weight:bold;
    font-size:18px;
}

#underline a:hover , #underline a:active{
    border-bottom:3px solid #2B394A;
}

.scroll {
    border-bottom:3px solid #2B394A;
}

#card{
    height: 0;
}

#card img{
    width: 22%;
    height: auto;
    margin-left: 5%;
    margin-top: 13.5%;
    z-index: -2;
}

#midblock{
    background-color: #2B394A;
    height: 400%;
    z-index: 1;
    position: relative;
    z-index: 0;
}

#home{
    height: 25%;
}

#home h1{
    text-align:center;
    color: white;
    font-family: GILC____;
    font-size: 160px;
    letter-spacing: 30px;
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    z-index: 2;
}

#home > img{
    position: relative;
    left:28%;
    width: 82%;
    padding-top: 22%;
    height: auto;
    z-index: 1;
}

#Experience_our_work {
    margin-top: -10%;
    margin-left: 3%;
    height: 20%;
    font-family: GOTHIC;
    color: white;
    font-size:100%;
    letter-spacing: 1px;
    font-weight: 10px;
}

#dotted_line{
    height: 20%;
    position: relative;
}

#dotted_line > img {
    height: 60%;
    position: relative;
    left: 15%;
    top: -88%;
}

#mouse {
    height: 6%;
    width: 2.8%;
    position: relative;
    top: -36%;
    left: 13.85%;
    z-index: 5;
    -webkit-animation: mousemove 3s infinite; /* Safari 4.0 - 8.0 */
    animation: mousemove 3s infinite;
}

#mouse img{
    height: 100%;
    width: 100%;
    z-index: 5;
}

@-webkit-keyframes mousemove {
    0%   {top: -36%;}
    25%  {top: -33%;}
    50%  {top: -30%;}
    75%  {top: -33%;}
    100% {top: -36%;}
}

/* Standard syntax */
@keyframes mousemove {
    0%   {top: -36%;}
    /*25%  {top: -33%;}*/
    50%  {top: -30%;}
    /*75%  {top: -33%;}*/
    100% {top: -36%;}
}

#about{
    height: 25%;
}

#about_background{
    height: 25%;
    position: relative;
}

#about_background > img{
    position: relative;
    left: -13%;
    padding-top: 15%;
    height: auto;
    width: 85%;
    z-index: 1;
}

#dotted_line_about {
    height: 50%;
    width: 5%;
    top: -10%;
    position: relative;
    z-index: 5;
    right: -85%;
}

#dotted_line_about img {
    height: 100%;
    position: relative;
    z-index: 10;
}

#mouse_about {
    height: 20%;
    width: 2.8%;
    position: relative;
    top: -50%;
    left: 83.87%;
    z-index: 5;
    -webkit-animation: mousemove_about 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mousemove_about 5s infinite;
}

#mouse_about img{
    height: 100%;
    width: 100%;
    z-index: 5;
}

@-webkit-keyframes mousemove_about {
    0%   {top: -50%;}
    25%  {top: -20%;}
    75%  {top: -50%;}
    100% {top: -20%;}
}

/* Standard syntax */
@keyframes mousemove_about {
    0%   {top: -50%;}
    25%  {top: -20%;}
    75%  {top: -50%}
    100% {top: -20%}
}

#about_background #about_image > img{
    position: absolute;
    left: -6%;
    top: 105%;
    height: auto;
    width: 55%;
    z-index: 2;
}


.about_picture img{
    position: relative;
    display: none;
}

#Howitworks{
    position: relative;
    z-index: 5;
    width: 65%;
    margin-top: -37.5%;
    left: 48%;
}

#about_A{
    position: relative;
    z-index: 10;
    width: 15%;
    margin-top: -24%;
    left: -12%;
}

#about_B{
    position: relative;
    z-index: 10;
    width: 14%;
    margin-top: -24%;
    left: -7%;
}

#about_C{
    position: relative;
    z-index: 10;
    width: 18%;
    margin-top: -32.5%;
    left: 92%;
}

#video{
    height: 25%;
}

#video_background{
    height: 25%;
    position:relative;
}

#video_background > img{
    position: relative;
    z-index: 1;
    width: 85%;
    top:80%;
    left: 25%;
}

#video #video_text{
    height: 25%;
    position: relative;
}

#video #video_text > img{
    position: relative;
    z-index: 2;
    width: 40%;
    left: -8%; 
    top: 18% ;
}

#video #video_youtube{
    padding-bottom:42.1875%;
    width:75%;
    left: 30%;
    height:0;
    top:-15%;
    position: relative;
    z-index: 5;
}

#video_youtube iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: none;
}

#dotted_line_video{
    position: relative;
    z-index: 50;
    height: 25%;
    top: -20%;
    left: 10%;
}

#dotted_line_video img {
    height: 50%;
}

#login{
    height: 25%;
}

#login_background{
    background-color: #2A293B;
    height: 80%;
    left: -15%;
    width: 130%;
    top: 10%;
    z-index: 1;
    position: relative;
}

#mouse_video{
    position: relative;
    height: 25%;
    z-index: 50;
    top: -44%;
    left: 8.9%;
    -webkit-animation: mousemove_video 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mousemove_video 5s infinite;
}

#mouse_video img{
    height: 25%;
    position: relative;
    z-index: 600;
}

@-webkit-keyframes mousemove_video {
    0%   {top: -44%;}
    25%  {top: -35%;}
    75%  {top: -44%;}
    100% {top: -35%;}
}

/* Standard syntax */
@keyframes mousemove_video {
    0%   {top: -44%;}
    25%  {top: -35%;}
    75%  {top: -44%}
    100% {top: -35%}
}

#login #login_background #login_phone{
    height: 25%;
}

#login #login_background #login_phone > img {
    width: 15%;
    height: auto;
    padding-top: 8%;
    left: 10%;
    position: relative;
}

#login #login_background #login_text {
    height: 20%;
    margin-top: -9%;
    z-index: 6;
}

#login #login_background #login_text > h1 {
    font-family: GOTHICB;
    color: white;
    margin-left: 40%;
    letter-spacing: 3px;
    font-size:260%;
}

#login_button_background{
    background-color: rgba(42,41,59,0);
    height: 60%;
    padding-right: 20%;
    width: 80%;
    top: -55%;
    left: 30%;
    z-index: 3;
    position: relative;

}

#create_account {
    position: relative;
    top: 7%;
    left: 6.5%;
    width: 120%;
}

#create_account input[placeholder], [placeholder], *[placeholder]{
    color:white !important;
}

.form-group{
    font-family: GOTHIC;
}


::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
}

::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

::-ms-input-placeholder { /* Edge */
  color: white;
}

:placeholder-shown { /* Standard one last! */
  color: white;
}

#create_account input{
    background-color: rgba(180,181,181,0.8);
    padding: 1.5%;
    border-radius:5px;
    border: none;
}

#first_name_input{
    width: 44%;
    margin: 3% ;
}

#last_name_input{
    width: 44%;
}

#user_name{
    width: 92%;
    margin: 3% ;
}

#email_addrass{
    width: 92%; 
    margin: 3% ;
}

#phone_number{
    width: 70%; 
    margin: 3% ;
}

#create_account button{
    background-color:#F39700;
    color: white;
    font-family: GOTHICB;
    border: none;
    width: 18%;
    padding: 2%;
    letter-spacing: 2.5px;
}

#create_account button:hover {background-color: #EB6000}

#create_account button .active {background-color: #EB6000}


#copyright{
    position: relative;
    top: -2%;
    z-index: 3;
}


#copyright p{
    font-family: GOTHIC;
    line-height: 50%;
    color: white;
    text-align:center;
    padding-top: -30%;
}



